body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(116, 80, 80);
}
header, footer{
    background-color: rgb(50, 45, 45);
    color: pink;
    position: absolute;
    width: 100%;
}
header{
    height: 30px;
}
footer{
    height: 60px;
    bottom: 0;
}
ul{
    overflow: hidden;
    list-style-type:none;
    display: flex;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: ;
    height: ;
}
li a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: pink;
}
li a:hover{
    background-color: black;
    color: rgb(145, 104, 110);
}
.container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
/* .container > div{
    margin: 50px;
    padding: 20px;
    width: 400px;
} */
.gcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 12px;
    column-gap: 12px;
    width: 900px;
    height: 500px;
}
.gcontainer>div{
    justify-content: center;
    padding-left: 100%;
}
.item{
    width: 140px;
    height: 140px;
    text-align: center; 
}
.contactContainer{
    text-align: justify;
    text-align: center;
}