body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(116, 80, 80);
}
header, footer{
    background-color: rgb(50, 45, 45);
    color: pink;
}
ul{
    overflow: hidden;
    list-style-type:none;
    display: flex;
    margin: 0px;
    padding: 0px;
    position: fixed;
}
li a{
    text-decoration: none;
}