body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(116, 80, 80);
}
header, footer{
    background-color: rgb(50, 45, 45);
    color: pink;
    position: absolute;
    width: 100%;
}
header{
    height: 30px;
}
footer{
    height: 60px;
    bottom: 0;
}
ul{
    overflow: hidden;
    list-style-type:none;
    display: flex;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: ;
    height: ;
}
li a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: pink;
}
li a:hover{
    background-color: black;
}
.container{
    display: flex;
}
/* .container > div{
    margin: 50px;
    padding: 20px;
    width: 400px;
} */
